version: '3.8'
services:
  db:
    image: postgres:16.11-alpine3.23
    container_name: db_container
    restart: always
    environment:
      POSTGRES_DB: local_db
      POSTGRES_USER: local_user
      POSTGRES_PASSWORD: local_password
    ports:
        - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U local_user"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis_container
    restart: always
    ports:
        - "6379:6379"
    networks:
        - app-network
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s
volumes:
  postgres-data:
    driver: local
  redis-data:
    driver: local
networks:
    app-network:
        driver: bridge